.container {
    margin: auto;
    width: 100vw;
    height: 80vh;
}

.input,
.button,
h1,
p,
h4,
h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topTwoBtn {
    display: flex;
    flex-direction: column;
}

#open {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100vw;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    visibility: hide;
    /* pointer-events: none; */
}

.modal {
    width: 600px;
    background-color: grey;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.closeBtn {
    background-color: white;
    padding: 5px 5px;
    border-radius: 5px;
}

#yesBtn {
    background-color: red;
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
}

.LikeParent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    align-content: center;
    margin-top: 25px;
    text-align: center;
}


/* .btnControls {
    display: inline;
} */

.likeImage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.likeName{
    text-align: center;
}

.btnControls {
    /* margin-top: 100px; */
    display: flex;
}

.btnControls div {
    padding-left: 25px;
}
